*{
    box-sizing: border-box;
}

body {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.h1-title {
    font-size: 30px;
}

.section-generator {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.select-breeds {
    width: 40%;
}

.button-generate {
    width: 40%;
    margin-top: 5px;
    padding: 10px;
    color: white;
    background-color: #008CBA;
    border: 3px solid #008CBA;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-generate:hover {
    color: black;
    background-color: white;
}

.img {
    width: 100%;
    margin-top: 5px;
}