*{
    box-sizing: border-box;
}

body {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.h1-title {
    font-weight: bold;
    font-size: 30px;
}

.section-generator {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.select-breeds {
    width: 50%;
}

.button-generate {
    width: 50%;
    height: 40px;
    margin-top: 5px;
    padding: 5px;
    background-color: #ebebeb;
    border-radius: 4px;
    cursor: pointer;
}

.button-generate:hover {
    background-color: #d8d9db;
}

.button-generate:active {
    background-color: #bbbcbe;
}

.img {
    width: 100%;
    padding-top: 5px;
}